@import "tailwindcss";

@theme {
  --color-background: #FCF6F2; /* White Cloud */
  --color-foreground: #240D01; /* Deep Brown */
  --color-card: #FCF6F2;
  --color-card-foreground: #240D01;
  --color-popover: #FCF6F2;
  --color-popover-foreground: #240D01;
  --color-primary: #6E054D; /* Power Purple */
  --color-primary-foreground: #FCF6F2;
  --color-secondary: #D4510B; /* Molten Orange */
  --color-secondary-foreground: #FCF6F2;
  --color-muted: #FCF6F2;
  --color-muted-foreground: #240D01;
  --color-accent: #FFC619; /* Yellow Sun */
  --color-accent-foreground: #240D01;
  --color-destructive: #D4510B;
  --color-destructive-foreground: #FCF6F2;
  --color-border: #240D01;
  --color-input: #240D01;
  --color-ring: #95D7E6; /* Blue Sky */

  --radius: 0.75rem;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body), sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}
